body {
    font-family: 'Arial', sans-serif;
    background: #282c35;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #3498db, #1abc9c);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

section {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #eee;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
}

button {
    background: linear-gradient(90deg, #2ecc71, #3498db);
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg, #27ae60, #2980b9);
}

#admin-section {
    display: none;
    max-width: 800px; /* ou une autre valeur en pixels ou pourcentage selon vos préférences */
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

#admin-section h2 {
    background: linear-gradient(90deg, #e74c3c, #c0392b);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

#admin-section button {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #3498db, #2980b9);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

#admin-section button:hover {
    background: linear-gradient(90deg, #2980b9, #3498db);
}

#balance {
    color: rgb(255, 254, 254); /* Couleur par défaut pour le solde positif */
}

#balance.negative {
    color: red; /* Couleur pour le solde négatif */
}

.fade-in {
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
